<div class="todo-lists">
  <div class="todo-lists__index">
    <div class="container">
      <div class="row">
        <div class="col-3">きげん</div>
        <div class="col-7">やること</div>
        <div class="col-2">
          <%= link_to todo_lists_path, remote: true do %>
            <img src="/assets/icon/check-icon.png" alt="check-icon" class="todo-lists__icon--check">
          <% end %>
        </div>
      </div>
      <div class="js-todo-lists">
        <%= render @todo_lists %>
      </div>
    </div>
    <%= paginate @todo_lists, remote: true %>
  </div>
</div>