<div class="about img-fluid">
  <p>遠い昔、はるかかなたの銀河で、、、</p>
<p>エピソード７</p>
<p>フォースの覚醒</p>
<p>ルーク・スカイウォーカーは消息を絶っていました。</p>

<p>彼の不在のなか、邪悪なファースト・オーダーは、帝国の灰から勃興し、</br>
最後のジェダイであるスカイウォーカーがいなくなるまで休まることはありません。</p>

<p>共和国の支援を受けて、レイア・オーガナ将軍は勇敢なレジスタンスを率いています。</p>

<p>レイアは、弟のルークを見つけ銀河の平和と正義を取り戻すために、</br>
ルークの助けを得ることに必死なのです。</p>

<p>レイアは、彼女の最も勇敢なパイロットを秘密の任務でジャクーに送りました。</p>

<p>そこで、昔からの仲間がルークの居場所の手がかりを発見したのでありました…。</p>
</div>