<div class="about img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-1"></div>
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div id="tabBoxes">
          <div id="tabBox1" class="tabBox">
            <div class="tabcontents">
              <p>1/4</p>
            </div>
            <a href="#tabBox2">>></a>
          </div>
          <div id="tabBox2" class="tabBox">
            <div class="tabcontents">
              <p>2/4</p>
            </div>
            <a href="#tabBox1"><<</a>
            <a href="#tabBox3">>></a>
          </div>
          <div id="tabBox3" class="tabBox">
            <div class="tabcontents">
              <p>3/4</p>
            </div>
            <a href="#tabBox2"><<</a>
            <a href="#tabBox4">>></a>
          </div>
          <div id="tabBox4" class="tabBox">
            <div class="tabcontents">
              <p>4/4</p>
            </div>
            <a href="#tabBox3"><<</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-1"></div>
      </div>
      </div>
</div>