<div class="tutorial">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-1"></div>
      <div class="col-lg-8 col-md-8 col-sm-10">

        <div id="js-message">
        <h3 id="message1" class="princess message">1: もくひょうせってい</h3>
        <h3 id="message2" class="princess message">その2: やったことをきろくする</h3>
        <h3 id="message3" class="princess message">その3: </h3>
        <h3 id="message4" class="princess message">その4</h3>
        </div>

        <div id="tabBoxes">
          <div id="tabBox1" class="tabBox">
            <div class="tabcontents">
              <p>1/4</p>
            </div>
            <a href="#tabBox2" id="#message2">>></a>
          </div>
          <div id="tabBox2" class="tabBox">
            <div class="tabcontents">
              <p>2/4</p>
            </div>
            <a href="#tabBox1" class="#message1"><<</a>
            <a href="#tabBox3" class="#message3">>></a>
          </div>
          <div id="tabBox3" class="tabBox">
            <div class="tabcontents">
              <p>3/4</p>
            </div>
            <a href="#tabBox2" class="#message2"><<</a>
            <a href="#tabBox4" class="#message4">>></a>
          </div>
          <div id="tabBox4" class="tabBox">
            <div class="tabcontents">
              <p>4/4</p>
            </div>
            <a href="#tabBox3" class="#message3"><<</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-1"></div>
      </div>
      </div>
</div>