<div class="goal-show">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-0"></div>
      <div class="col-lg-6 col-md-8 col-sm-12 goal-post-form">
        <h2 class="master-message upper-contents">もくひょうのかくにんは</br>
        たいせつじゃな</h2>
        <div>
        	<p>レベルアップしたいこと</p>
        	<h3><%= @goal.category %></h3>
        	<p>さいしゅうもくひょう</p>
        	<h3><%= @goal.goal_status %></h3>
        	<p>いつまでに</p>
        	<h3><%= @goal.deadline.strftime('%Y/%m/%d') %></h3>
        	<p>げんざいのレベル</p>
        	<%= link_to "へんこう", edit_goal_path(@goal.id) %>
        </div>
       </div>
       <div class="col-lg-3 col-md-2 col-sm-0"></div>
    </div>
  </div>
</div>