.about {
  min-width: 100vw;

  &__story::after,
  &__contents::before,
  &__monster::before,
  &__monster::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    padding-top: 5%;
  }

  &__story,
  &__contents,
  &__monster,
  &__start {
    padding: 20px 0 40px 0;
  }

  &__story--col,
  &__contents--col,
  &__monster--col,
  &__start--col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 150px;
    height: 150px;

    &--area {
      display: flex;
      height: 100px;
      margin-left: 20%;
    }

    &--monster {
      width: 12%;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 5%;
      margin-bottom: 3%;
      background-color: var(--main-back);

      &:nth-of-type(1) {
        background-image: image-url("monster/monster1.png");
      }

      &:nth-of-type(2) {
        background-image: image-url("monster/monster5.png");
      }

      &:nth-of-type(3) {
        background-image: image-url("boss/boss1.png");
      }

      &:nth-of-type(4) {
        background-image: image-url("monster/monster4.png");
      }

      &:nth-of-type(5) {
        background-image: image-url("monster/monster6.png");
      }
    }
  }

  &__text {
    font-size: 18px;

    &--area {
      text-align: center;
    }

    &--left {
      padding-left: 15%;
    }

    &--right {
      padding-left: 28%;
    }

    &--story {
      color: var(--main-font);

      &::before {
        background-image: image-url("character/princess.png");
      }
    }

    &--contents {
      color: var(--main-font);
      width: 80%;
      margin-left: 10%;

      &::before {
        background-image: image-url("icon/books.png");
      }
    }

    &--monster {
      color: var(--main-font);
      width: 70%;
      margin-left: 15%;

      &::before {
        background-image: image-url("monster/monster1.png");
      }
    }

    &--start {
       &::before {
        background-image: image-url("character/princess.png");
      }
    }
  }

  &__header {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    font-size: 100px;

    &--story,
    &--monster {
      margin: 10px 20px 50px 0;
    }

    &--contents
    &--something {
      margin: 10px 0 50px 20px;
    }
  }

  &__story {
    background-color: var(--about-back-yl);
    position: relative;
    color: var(--main-back);

    &::after {
      bottom: -1px;
      left: 0;
      background:
      linear-gradient(to top right, var(--about-back-bl) 48%, transparent 52%) ;
    }
  }

  &__contents {
    background-color: var(--about-back-bl);

    &--screen-area-big {
      display: flex;
      justify-content: space-around;
    }

    &--screen-area-small {
      width: 30%;
    }

    &--screen-img {
      width: 100%;
    }

    &--header-bottom {
      font-size: 20px;
      background: var(--main-back);
      border: solid 5px var(--main-font);
      border-radius: 10px;
      width: 60%;
      margin-left: 20%;
      margin-top: 3%;
    }
  }

  &__monster {
    background-color: var(--about-back-yl);
    position: relative;
    color: var(--main-back);

    &::before {
      top: -1px;
      left: 0;
      background:
      linear-gradient(to bottom right, var(--about-back-bl) 48%, transparent 52%) ;
    }

    &::after {
      bottom: -1px;
      left: 0;
      background:
      linear-gradient(to top right, var(--about-back-bl) 48%, transparent 52%) ;
    }

    &--col {
      padding: 5% 0;
    }

    &--img-text {
      margin-left: 35%;
      margin-top: 5%;
      font-size: 22px;
    }

    &--text-area {
      position: relative;
      width: 80%;
      height: 100%;
      margin: 15% 0;
    }

     &--screen-area-big {
      display: flex;
      justify-content: space-around;
    }

    &--screen-img {
      width: 28%;
      position: absolute;

      &:nth-of-type(1) {
        top: 58%;
        left: 7%;
      }

      &:nth-of-type(2) {
        top: 18%;
        left: 22%;
        z-index: 1;
      }

      &:nth-of-type(3) {
        top: 58%;
        left: 36%;
      }

      &:nth-of-type(4) {
        top: 18%;
        left: 52%;
        z-index: 1;
      }

      &:nth-of-type(5) {
        top: 58%;
        left: 65%;
      }
    }
  }

  &__start {
    background-color: var(--about-back-bl);

    &--text-area {
      width: 60%;
      height: 100%;
    }

    &--img {
      width: 10vw;
    }

    &--link-area {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5vw;
    }

    &--link {
      font-size: 2.25rem;
      color: var(--main-font);
      border-bottom: 5px solid var(--about-back-yl);

      &:hover {
        color: var(--main-font);
        text-decoration: none;

        &:before {
          content: '';
          display: inline-block;
          width: 25px;
          height: 25px;
          background-size: contain;
          background-repeat: no-repeat;
          vertical-align: middle;
          background-image: image-url("icon/cursor.png");
        }
      }
    }
  }
}

@media all and (-ms-high-contrast: none) {
  /* IE用のCSS */
  .about {
    &__story::after,
    &__contents::before,
    &__monster::before,
    &__monster::after {
      display: none;
    }

    &__story--col,
    &__contents--col,
    &__monster--col,
    &__start--col {
      justify-content: center;
    }

    &__header {
      &--area {
        display: none;
      }
    }

    &__img {
      &--left-area {
        display: none;
      }

      &--right-area {
        display: none;
      }
    }

    &__text {
      &--contents {
        width: 60% !important;
        margin-left: 20% !important;
      }
    }

    &__contents {
      &--screen-area-big {
        justify-content: center;
      }
    }
  }
}

/* safari用のCSS */
_:lang(x)+_:-webkit-full-screen-document, .about__story--col {
  justify-content: space-around;
}

_:lang(x)+_:-webkit-full-screen-document, .about__text--area {
  margin-right: 10%;
}

_:lang(x)+_:-webkit-full-screen-document, .about__contents--text {
  margin-right: 0;
  margin-left: 10%;
}

_:lang(x)+_:-webkit-full-screen-document, .about__start--text-area {
  margin-right: 0;
  margin-left: 10%;
}

_:lang(x)+_:-webkit-full-screen-document, .about__start--text-area {
  margin-right: 0;
  margin-left: 10%;
}

_:lang(x)+_:-webkit-full-screen-document, .about__monster--col {
  justify-content: space-around;
}

_:lang(x)+_:-webkit-full-screen-document, .about__text--monster {
  width: 100%;
  margin-left: 0;
}

_:lang(x)+_:-webkit-full-screen-document, .about__monster--text-area {
  width: 40%;
}

_:lang(x)+_:-webkit-full-screen-document, .about__monster--screen-img {
  width: 35%;
}

@media (max-width: 768px) {
  .about {
    &__img {
      width: 120px;
      height: 120px;

      &--area {
        margin-left: 10%;
      }

      &--monster {
        width: 13%;
      }
    }

    &__text {
      font-size: 13px;

      &--left {
        padding-left: 5%;
      }

      &--right {
        padding-left: 20%;
      }

      &--contents {
        width: 95% !important;
        margin-left: 5% !important;
        font-size: 16px !important;
      }

      &--monster {
        width: 90% !important;
        margin-left: 5% !important;
        font-size: 17px !important;
      }

      &--start {
        width: 100% !important;
        font-size: 16px !important;
      }
    }

    &__header {
      font-size: 70px;

      &--story,
      &--monster {
        margin: 10px 0 20px 0;
      }

      &--contents,
      &--start {
        margin: 10px 0 20px 0;
      }
    }

    &__story,
    &__contents,
    &__monster,
    &__start {
      padding: 10px 0 10px 0;
    }

    &__story {
      &--col {
        margin-bottom: 5%;
      }
    }

    &__contents {
      &--text {
        padding-left: 5%;
      }

      &--screen-area-small {
        width: 40%;
      }

      &--header-bottom {
        font-size: 18px;
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
      }
    }

    &__monster {
      &--text-area {
        margin: 25% 0;
      }

      &--screen-img {
        width: 35%;

        &:nth-of-type(1) {
          top: 58%;
          left: 4%;
        }

        &:nth-of-type(2) {
          top: 30%;
          left: 20%;
        }

        &:nth-of-type(3) {
          top: 58%;
          left: 33%;
        }

        &:nth-of-type(4) {
          top: 30%;
          left: 50%;
        }

        &:nth-of-type(5) {
          top: 58%;
          left: 62%;
        }
      }
    }

    &__start {
      &--link {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .about {
    &__text {
      &--area {
        &:nth-of-type(1) {
          margin-right: 0;
        }
      }

      &--story {
        font-size: 17px !important;
      }

      &--contents {
        padding: 3% 0;
        font-size: 14px !important;
        width: 100% !important;
        margin-left: 0 !important;

        &--text {
          margin-left: 0;
        }
      }

      &--monster {
        width: 100% !important;
        margin-left: 0 !important;
      }

      &--start {
        font-size: 13px !important;
        padding: 2%;
      }
    }

    &__img {
      &--left-area {
        display: none;
      }

      &--right-area {
        display: none;
      }
    }

    &__header {
      &--area {
        display: none;
      }
    }

    &__contents {
      &--text {
        padding-left: 0;
      }

      &--screen-area-big {
        flex-wrap: wrap;
      }

      &--screen-area-small {
        width: 80%;
      }

      &--text-bottom {
        margin-top: 10%;
      }

      &--header-bottom {
        padding: 5% 0;
        font-size: 18px;
        width: 100%;
        margin-left: 0;
        margin-top: 7%;
      }
    }

    &__monster {
      &--text-area {
        width: 100%;
        padding-bottom: 10%;
        padding-top: 3%;
      }
    }

    &__start {
      &--text-area {
        width: 94%;
        margin-left: 3%;
      }

      &--link {
        font-size: 1.6rem;
        margin-bottom: 5%;
      }
    }
  }
}

@media (max-width: 425px) {
  .about {
    &__text {
      &--contents {
        font-size: 14px !important;
      }

      &--monster {
        font-size: 13px !important;
      }

      &--start {
        font-size: 13px !important;
      }
    }

    &__img {
      &--monster {
        width: 18%;

        &:nth-of-type(5) {
          display: none;
        }
      }
    }

    &__contents {
      &--header-bottom {
        font-size: 14px;
      }
    }

    &__start {
      &--link {
        font-size: 1.3rem;
        margin-bottom: 10%;
      }
    }
  }
}