/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@charset "UTF-8";

@font-face {
  font-family: 'PixelMplus10-Regular';
  src: font-url('/assets/PixelMplus10-Regular.ttf');
}

:root {
  --main-font: #fff;
  --main-back: #000;
  --menu-logo: #00d9ff;
  --about-back-yl: #fff700;
  --about-back-bl: #007bff;
  --notice-back: #00ff89;
  --error-back: #ff0050;
  --modal-content: #fff;
  --modal-back: #000000d6;
  --todo-lists-back: #000000a8;
  --line-through: #dc3545;
  --devise-link: #078000;
  --icon-width: 40px;
  --icon-height: 40px;
  --upper-margin: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  font-family: 'PixelMplus10-Regular';
  color: var(--main-font);
}

.header {
  background-color: var(--main-back);

  &__link {
    color: var(--main-font);
  }

  .navbar-toggler {
    border-color: var(--main-font);
    background-color: var(--main-font);
  }
}

.top {
  width: 100%;
  height: 100vh;
  background-image: url(back/top-back.jpg);
  background-position: 50% 35%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;

  &__link {
    color: var(--main-font);

    &--list {
      list-style: none;
      margin-top: 95px;
      font-size: 20px;
    }

    &--bottom {
      margin-top: 10px;
    }
  }

  &__text {
    &--noscript {
      background: var(--main-back);
    }

    &--main-title{
      font-size: 120px;
    }

    &--sub-title {
      font-size: 30px;
    }
  }

  &__img {
    width: 100vw;
    position: absolute;
    top: 0%;
    left: 0%;

    &--left-hand,
    &--right-hand{
      width: 700px;
      position: absolute;
      top: 0%;
    }

    &--left-hand {
      left: -9%;
      transform: rotateZ(-45deg);
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
    }

    &--right-hand {
      right: -10%;
      transform: rotateZ(40deg);
      -webkit-transform: rotateZ(40deg);
      -moz-transform: rotateZ(40deg);
      -ms-transform: rotateZ(40deg);
    }

    &--chars {
      width: 100vw;
      position: absolute;
      bottom: 0%;
      left: 0%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &--brave {
        width: 200px;
        height: 200px;
      }

      &--knight {
        width: 140px;
        height: 140px;
      }

      &--priest {
        width: 140px;
        height: 140px;
      }

      &--princess {
        width: 140px;
        height: 170px;
      }

      &--witch {
        width: 170px;
        height: 170px;
      }
    }
  }
}

.message {
  background: var(--main-back);
  border: solid 5px var(--main-font);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.upper-contents {
  margin-top: var(--upper-margin);
}

.top__link:hover:before,
.header__link:hover:before,
.message:before {
  content: '';
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.top__link:hover,
.header__link:hover {
  text-decoration: none;
  color: var(--main-font);

  &:before {
    background-image: url(icon/cursor.png);
    width: 20px;
    height: 20px;
  }
}

.top__link--guest:before {
  background-image: url(character/brave.png);
}

.master:before {
  background-image: url(character/master.png);
}

.father:before {
  background-image: url(character/father.png);
}

.knight:before {
  background-image: url(character/knight.png);
}

.priest:before {
  background-image: url(character/priest.png);
}

.princess:before {
  background-image: url(character/princess.png);
}

.witch:before {
  background-image: url(character/witch.png);
}

.content {
  margin: 0 auto;
  padding: 40px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  &__content {
    background: var(--modal-content);
    left: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
  }

  &__back {
    background: var(--modal-back);
    height: 100vh;
    width: 100%;
    position: absolute;
  }
}

.footer {
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 50px;
  background-color: var(--main-back);
}

@media (max-width: 991px) {
  .top {
    &__img {
      &--left-hand,
      &--right-hand {
        width: 600px;
      }

      &--left-hand {
        left: -15%;
      }

      &--right-hand {
        right: -18%;
      }
    }
  }

  .message {
    width: 90%;
    margin-left: 5%;
  }

  .modal__content {
    padding: 20px;
    width: 70%;
  }

}

@media (max-width: 768px) {
  .top {
    &__link {
      &--list {
        margin-top: 65px;
        font-size: 17px;
      }
    }

    &__text {
      &--main-title {
        font-size: 100px;
      }

      &--sub-title {
        font-size: 20px;
      }
    }

    &__img {
      &--left-hand,
      &--right-hand {
        width: 450px;
      }

      &--chars{
        &--brave {
          width: 170px;
          height: 170px;
        }

        &--witch {
          width: 140px;
          height: 140px;
        }

        &--princess {
          width: 110px;
          height: 140px;
        }

        .knight-img {
          width: 110px;
          height: 110px;
        }

        .priest-img {
          width: 110px;
          height: 110px;
        }
      }
    }
  }

  .modal__content {
    width: 80%;
  }

}


@media (max-width: 425px) {
  .top {
    &__text {
      &--main-title {
        font-size: 90px;
      }

      &--sub-title {
        font-size: 20px;
      }
    }

    &__img {
      &--left-hand,
      &--right-hand {
        width: 300px;
      }

      &--left-hand {
        left: -17%;
      }

      &--right-hand {
        right: -23%;
      }

      &--chars {
        img {
          position: absolute;
        }

        &--brave {
          width: 140px;
          height: 140px;
          z-index: 2;
        }

        &--witch {
          width: 110px;
          height: 110px;
          left: 55%;
          z-index: 1;
        }

        &--princess {
          width: 80px;
          height: 110px;
          left: 20%;
          z-index: 1;
        }

        &--knight {
          width: 80px;
          height: 80px;
          right: 7%;
        }

        &--priest {
          width: 80px;
          height: 80px;
          left: 5%;
        }
      }

      &--link {
        &--list {
          margin-top: 30px;
          font-size: 15px;
        }
      }
    }
  }

  .message {
    width: 100%;
    margin-left: 0;
  }

  .modal__content {
    padding: 10px;
    width: 94%;
  }

}

@media (max-width: 320px) {
  .top {
    &__img {
      &--left-hand,
      &--right-hand {
        width: 240px;
      }

      &--left-hand {
        left: -20%;
      }

      &--right-hand {
        right: -24%;
      }

      &--chars {
        img {
          position: absolute;
        }

        &--brave {
          width: 130px;
          height: 130px;
          z-index: 2;
        }

        &--witch {
          width: 100px;
          height: 100px;
          left: 57%;
          z-index: 1;
        }

        &--princess {
          width: 80px;
          height: 100px;
          left: 14%;
          z-index: 1;
        }

        &--knight {
          width: 70px;
          height: 70px;
          right: 0%;
        }

        &--priest {
          width: 70px;
          height: 70px;
          left: 0%;
        }
      }
    }
  }

}