/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

@charset "UTF-8";

@font-face {
  font-family: 'PixelMplus10-Regular';
  src: font-url('/assets/PixelMplus10-Regular.ttf');
}

:root {
  --main-font: #fff;
  --main-back: #000;
  --icon-width: 40px;
  --icon-height: 40px;
  --upper-margin: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  font-family: 'PixelMplus10-Regular';
}

.main-header {
  color: var(--main-font);
  background-color: var(--main-back);
}

.head-link-btn {
  color: var(--main-font);
}

.top-page {
  width: 100%;
  height: 100vh;
  background-image: url(sample3.png);
  background-position: 50% 35%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font);
}

.title-container {
  text-align: center;
}

.main-title{
  font-size: 150px;
}

.sub-title {
  font-size: 35px;
}

.nav-list {
  list-style: none;
  margin-top: 10px;
  font-size: 20px;
}

.top-link-btn {
  color: var(--top-color);
}

.bottom-link {
  margin-top: 10px;
}

.upper-contents {
  margin-top: var(--upper-margin);
}

.master-message {
  margin-bottom: 20px;
}

.skill1:before,
.skill2:before,
.skill3:before,
.master-message:before {
  content: '';
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.skill1:before {
  background-image: url(red-book.png);
}

.skill2:before {
  background-image: url(blue-book.png);
}

.skill3:before {
  background-image: url(green-book.png);
}

.master-message:before {
  background-image: url(master.png);
}

.side-menu {
  margin-top: 50px;
}

.doc-card {
  color: var(--main-font);
  background-color: var(--main-back);
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}

.pagination>li>a {
  border: none;
  color: var(--main-font);
  background-color: var(--main-back);
}

.my-page,
.user-edit,
.new-doc,
.doc-edit {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  color: var(--main-font);
}

.my-page {
  background-image: url(road.jpg);
}

.profile {
  background-color: black;
}

.side-menu {
  background-color: black;
}

.user-edit {
  background-image: url(forest.jpg);
  padding-top: 50px;
}

.new-doc {
  background-image: url(cave.jpg);
  padding-top: 80px;
}

.doc-edit {
  background-image: url(wild_land.jpg);
  padding-top: 130px;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: calc(100% / 3);
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.footer {
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 50px;
  color: var(--main-font);
  background-color: var(--main-back);
}

