/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

@charset "UTF-8";

@font-face {
  font-family: 'PixelMplus10-Regular';
  src: font-url('/assets/PixelMplus10-Regular.ttf');
}

:root {
  --main-font: #fff;
  --main-back: #000;
  --notice-back: #00ff89;
  --user-info-back: #7fff94;
  --cat-info-back: #7f95ff;
  --icon-width: 40px;
  --icon-height: 40px;
  --upper-margin: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  font-family: 'PixelMplus10-Regular';
}

.main-header {
  color: var(--main-font);
  background-color: var(--main-back);
}

.head-link-btn {
  color: var(--main-font);
}

.navbar-toggler {
  border-color: var(--main-font);
  background-color: var(--main-font);
}

.top-page {
  width: 100%;
  height: 100vh;
  background-image: url(sample3.png);
  background-position: 50% 35%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font);
}

.title-container {
  text-align: center;
}

.main-title{
  font-size: 150px;
}

.sub-title {
  font-size: 35px;
}

.nav-list {
  list-style: none;
  margin-top: 10px;
  font-size: 20px;
}

.top-link-btn {
  color: var(--top-color);
}

.bottom-link {
  margin-top: 10px;
}

.upper-contents,
.master-message {
  margin-top: var(--upper-margin);
}

.master-message {
  margin-bottom: 20px;
}

.my-goal:before,
.master-message:before {
  content: '';
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.my-goal:nth-of-type(1):before {
  background-image: url(red-book.png);
}

.my-goal:nth-of-type(2):before {
  background-image: url(blue-book.png);
}

.my-goal:nth-of-type(3):before {
  background-image: url(green-book.png);
}

.my-goal:nth-of-type(4):before {
  background-image: url(purple-book.png);
}

.master-message:before {
  background-image: url(master.png);
}

.my-goal {
  margin-top: 5px;
}

.side-menu {
  margin-top: 50px;
}

.doc-card {
  color: var(--main-font);
  background-color: var(--main-back);
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}

.pagination>li>a {
  border: none;
  color: var(--main-font);
  background-color: var(--main-back);
}

.about,
.my-page,
.user-edit,
.new-doc,
.doc-edit {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  color: var(--main-font);
}

.about {
  padding-top: 150px;
  text-align: center;
  background-image: url(sample2.png);
}

.my-page {
  background-image: url(road.jpg);
}

.notice-message {
  text-align: center;
  background-color: var(--notice-back);
  border-radius: 10px;
  margin-top: 10px;
}

.status-info,
.cat-info-header>h3,
.select-box {
  line-height: 50px;
  text-align: center;
}

.status-info {
  width: 100%;
  height: 50px;
  background-color: var(--user-info-back);
}

.cat-info-header,
.select-box{
  width: 100%;
  height: 50px;
}

.cat-info-header {
  background-color: var(--cat-info-back);
}

.select-box {
  margin: auto;
}

.user-level,
.doc-count,
.clear-count,
.btn-area,
.my-goal {
  margin-left: 10px;
}

.user-level {
  font-size: 25px;
  margin-bottom: 0;
}

.btn-area {
  margin-bottom: 10px;
}

.profile-btn {
  margin-right: 30px;
}

.profile {
  background-color: black;
}

.side-menu {
  background-color: black;
}

.user-edit {
  background-image: url(forest.jpg);
}

.new-doc {
  background-image: url(cave.jpg);
}

.doc-edit {
  background-image: url(wild_land.jpg);
}

.form-btn,
.new-goal-link {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 50px;
  color: var(--main-font);
  background-color: var(--main-back);
}


@media (max-width: 991px){
  .profile,
  .cat-info {
    display: flex;
  }

  .name {
    width: 100%;
  }

  .user-info,
  .cat-info,
  .my-goal {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .my-goal {
    margin-top: 20px;
  }

  .btn-area,
  .clear-count {
    margin-left: 20px;
  }

  .btn-area,
  .user-level {
    margin-top: 10px;
  }

  .user-level,
  .doc-count {
    width: calc(100% / 3);
  }

  .user_level {
    text-align: center;
  }

  .my-goal {
    margin-left: 0;
  }

  .cat-info-header,
  .select-box {
    width: 50%;
  }

  .select-box {
    background-color: var(--cat-info-back);
  }


}

@media (max-width: 767px) {
  .profile {
    display: block;
  }

  .user-info,
  .cat-info {
    width: 100%;
  }

  .my-goal {
    width: 50%;
  }

  .btn-area,
  .clear-count {
    margin-left: 20px;
  }


  .user-level,
  .doc-count {
    width: 50%;
    margin-left: 10px;
  }
}


@media (max-width: 425px) {
  .profile {
    display: block;
  }

  .user-info,
  .cat-info {
    width: 100%;
  }

  .my-goal {
    width: 50%;
  }

  .clear-count,
  .doc-count {
    margin: 10px 0 10px 10px;
    width: 45%;
    text-align: center;
  }

  .btn-area {
    width: 63%;
  }

  .user-level {
    width: 30%;
  }

  .user-level,
  .btn-area {
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: space-around;
  }

}




