.clear {
  &__back {
    background: var(--modal-back);
    height: 100vh;
    width: 100%;
    z-index: 4;
    position: fixed;
    top: 0;
    text-align: center;
  }

  &__text {
    width: 50%;
    margin-left: 25%;
    position: absolute;

    &:before {
      background-image: image-url("icon/books.png");
    }
  }

  &__text-bottom {
    width: 60%;
    margin-left: 20%;
  }

  &__link {
    color: var(--main-font);
    font-size: 20px;

    &:hover {
      text-decoration: none;
      color: var(--main-font);

      &:before {
        content: '';
        display: inline-block;
        width: var(--cursor-width);
        height: var(--cursor-height);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        background-image: image-url("icon/cursor.png");
      }
    }
  }
}

/* 花火が開いて消えるアニメーション（目標LV.100達成時） */
@-webkit-keyframes fireworks {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2) translateY(30px);
  }
}

@keyframes fireworks {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2) translateY(30px);
  }
}

.fireworks {
  position: absolute;
  animation: fireworks linear infinite;
  -webkit-animation: fireworks linear infinite;

  &-left {
    top: 0;
    left: 0;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }

  &-center {
    top: -10%;
    left: 27%;
    animation-duration: 2s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.6s;
  }

  &-right {
    top: 10%;
    right: 0;
    animation-duration: 2s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.3s;
  }

  &-under-right {
    top: 50%;
    right: 0;
    animation-duration: 2s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.6s;
  }

  &-under-left {
    top: 50%;
    left: 0;
    animation-duration: 2s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.3s;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .fireworks {
    img {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 425px) {
  .clear {
    &__text {
      font-size: 16px !important;
    }

    &__text-bottom {
      font-size: 16px !important;
    }
  }

  .fireworks {
    &-center {
      top: 0%;
    }

    &-left {
      top: 10%;
    }

    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media (max-width: 320px) {
  .clear {
    &__text {
      font-size: 14px !important;
    }

    &__text-bottom {
      font-size: 14px !important;
    }
  }
}