.link:before {
  content: '';
  display: inline-block;
  width: var(--icon-width);
  height: var(--icon-height);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.log-in__form,
.sign-up__form,
.reset-psw__form {
  text-align: center;
  height: 100vh;

  h3, form {
    width: 60%;
    margin-left: 20%;
  }
  form {
    background-color: var(--main-back);
    border-radius: 10px;
    border: solid 5px var(--main-font);
    padding-bottom: 1%;
    padding-top: 2%;
  }

  .field,
  .actions {
    margin-bottom: 5%;
  }
}

.log-in {
  background-image: image-url("back/sky.jpg");
  background-position: 50% 35%;
  background-size: cover;
  height: 100vh;
  padding-top: 5%;

  &__flash {
    &--alert {
      background-color: var(--error-back);
      width: 60%;
      margin-left: 20%;
      border-radius: 10px;
    }
  }

  &__link {
    color: var(--devise-link);

    &:before {
      background-image: image-url("monster/monster4.png");
    }
  }
}

.sign-up {
  background-image: image-url("back/sky.jpg");
  background-position: 50% 35%;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 20%;

  &__link {
    color: var(--devise-link);

    &:before {
      background-image: image-url("monster/monster1.png");
    }
  }
}

.reset-psw {
  background-image: image-url("back/dusk-sky.png");
  background-position: 50% 35%;
  background-size: cover;
  height: 100vh;
  padding-top: 5%;

  &__link {
    color: var(--devise-link);

    &:before {
      background-image: image-url("monster/monster5.png");
    }
  }
}

.error {
  &__message {
    background: var(--error-back);
    text-align: center;
    border-radius: 10px;

    &--list {
      list-style: none;
      text-decoration: underline;
    }
  }
}


@media (max-width: 991px) {
  .sign-up__form,
  .reset-psw__form {
    h3, form {
      width: 80%;
      margin-left: 10%;
    }
  }

  .log-in {
    &__form {
      h3, form {
        width: 80%;
        margin-left: 10%;
      }
    }

    &__flash {
      &--alert {
        width: 80%;
        margin-left: 10%;
      }
    }
  }
}

@media (max-width: 425px) {
  .sign-up__form,
  .reset-psw__form {
    h3, form {
      width: 100%;
      margin-left: 0%;
    }
  }

  .log-in {
    &__form {
      h3, form {
        width: 100%;
        margin-left: 0%;
      }
    }

    &__flash {
      &--alert {
        width: 100%;
        margin-left: 0%;
      }
    }
  }

  .error {
    &__message {
      h2 {
        font-size: 25px !important;
      }

      h3 {
        font-size: 23px !important;
      }
    }
  }
}

@media (max-width: 320px) {
  .error {
    &__message {
      h2,h3 {
        font-size: 20px !important;
      }
    }
  }
}