.log-in {
  background-image: url(sky.jpg);
  background-position: 50% 35%;
  background-size: cover;
  height: 100vh;

  &__link {
    color: var(--devise-link);
  }
}

.sign-up {
  background-image: url(sky.jpg);
  background-position: 50% 35%;
  background-size: cover;
  height: 100vh;

  &__link {
    color: var(--devise-link);
  }
}

.reset-psw {
  background-image: url(sample3.png);
  background-position: 50% 35%;
  background-size: cover;
  height: 100vh;

  &__link {
    color: var(--devise-link);
  }
}

.log-in__form,
.sign-up__form,
.reset-psw__form {
  text-align: center;
  height: 100vh;
  padding-top: 5%;

  h3, form {
    width: 60%;
    margin-left: 20%;
  }
  form {
    background-color: var(--main-back);
    border-radius: 10px;
    border: solid 5px var(--main-font);
    padding-bottom: 1%;
    padding-top: 2%;
  }

  .field,
  .actions {
    margin-bottom: 5%;
  }
}

.error__message {
  background: var(--error-back);
  border: solid 5px var(--main-font);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;

  &--list {
    list-style: none;
    text-decoration: underline;
  }
}