.doc-card {
  margin-bottom: 10px !important;
  position: relative;

  &__head {
    background-size: cover;
    background-image: image-url("back/wood-board.png");
    height: 60px;
    text-align: center;
    padding: 0 10%;

    &--text {
      line-height: 30px;
    }
  }

  &__search {
    text-align: center;
    margin-bottom: 2%;
  }

  &__icon {
    width: 10%;
    position: absolute;
    top: 2%;

    &--edit {
      left: 1%;
    }

    &--delete {
      right: 1%;
    }
  }

  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &__stage {
    position: relative;
    width: 100%;

    &--img {
      width: 100%;
      height: 100%;
    }
  }

  &__monster {
    &--left,
    &--right {
      width: 25%;
      position: absolute;
      top: 50%;
    }

    &--left {
      left: 20%;
    }

    &--right {
      left: 55%;
    }

    &--boss {
      width: 50%;
      position: absolute;
      top: 30%;
      left: 25%;
    }

    &--img {
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    background-size: cover;
    background-image: image-url("back/wood-board.png");
    width: 100%;
    p {
      overflow: hidden;
    }

    &--text {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .doc-card {
    &__img {
      height: 296px;
    }
  }
}
