.levelup {
  &__back {
    background: var(--modal-back);
    height: 100vh;
    width: 100%;
    z-index: 4;
    position: fixed;
    top: 0;
  }

  &__text {
    text-align: center;
    line-height: 30vh;

    span {
      display: inline-block;
      position: relative;
      font-size: 130px;
      color: var(--main-font);
      animation: 1s ease infinite;
      -webkit-animation: 1s ease infinite;
      animation-name: textWave;
      -webkit-animation-name: textWave;

      &:nth-of-type(2) {
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
      }

      &:nth-of-type(5) {
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
      }

      &:nth-of-type(6) {
        animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
      }

      &:nth-of-type(7) {
        animation-delay: 0.6s;
        -webkit-animation-delay: 0.6s;
      }

      &:nth-of-type(8) {
        animation-delay: 0.7s;
        -webkit-animation-delay: 0.7s;
      }

      &:nth-of-type(9) {
        animation-delay: 0.8s;
        -webkit-animation-delay: 0.8s;
      }

      &:nth-of-type(10) {
        animation-delay: 0.9s;
        -webkit-animation-delay: 0.9s;
      }
    }
  }

  &__char {
    text-align: center;
    line-height: 30vh;

    img {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
      animation: 1s ease infinite;
      -webkit-animation: 1s ease infinite;
      animation-name: charWave;
      -webkit-animation-name: charWave;

      &:nth-of-type(2) {
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
      }
    }
  }
}

/* 記録投稿時のアニメーションCSS */
/* テキストが波打つアニメーション */
@-webkit-keyframes textWave {
 0% {
   top: 0.5em;
 }
 100% {
   top: 0em;
 }
}

@keyframes textWave {
 0% {
   top: 0.5em;
 }
 100% {
   top: 0em;
 }
}

/* キャラが波打つアニメーション */
@-webkit-keyframes charWave {
 0% {
   top: 1.5em;
 }
 100% {
   top: 0em;
 }
}

@keyframes charWave {
 0% {
   top: 1.5em;
 }
 100% {
   top: 0em;
 }
}

@media (max-width: 991px) {
  .levelup {
    &__text {
      span {
        font-size: 100px;
      }
    }
  }
}

@media (max-width: 768px) {
  .levelup {
    &__text {
      span {
        font-size: 90px;
      }
    }
  }
}

@media (max-width: 425px) {
  .levelup {
    &__char {
      img {
        width: 60px;
        height: 60px;
      }
    }

    &__text {
      span {
        font-size: 65px;
      }
    }
  }
}