.todo-lists {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  margin-top: 3%;

  &__finished {
    text-decoration: line-through 2px solid var(--line-through);
  }

  &__not-finished {
    text-decoration: underline;
    color: var(--main-font);

    &:hover {
      &:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        background-image: url(icon/cursor.png);
      }
    }
  }

  &__icon {
    &--area {
      width: 100%;
      text-align: center;
    }

    &--back {
      width: 100%;
    }

    &--check {
      width: 25%;
    }
  }

  &__search {
    justify-content: space-around;
  }

  &__form {
    &--area {
      justify-content: center;
    }

    &--edit {
      width: 100%;
    }

    &--text {
      margin: 1% 0;
    }

    &--upper {
      justify-content: center;
    }
  }

  &__index {
    font-size: 20px;
    background-color: var(--todo-lists-back);
  }

  &__link {
    &--edit {
      &:hover {
        text-decoration: none;
        color: var(--main-font);
      }
    }

    &--destroy {
      margin-left: 4%;
    }

    &--index {
      margin-left: 4%;
      width: 5%;
    }
  }

}

@media (max-width: 425px) {
  todo-lists {
    &__icon {
      &--back {
        width: 170%;
      }

      &--check {
        width: 100%;
      }
    }

    &__index {
      font-size: 15px;
    }
  }
}