<p>こんにちは <%= @resource.email %>さん！</p>

<p>パスワード変更のリクエストを受け付けました。以下のリンクから変更することができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード変更を依頼した覚えがなければ、このメールはご放念ください。</p>
<p>上記リンクへアクセスし、新しいパスワードを設定しなければ、パスワードが変わることはありません。</p>
