<% if flash[:clear] %>
  <div class="clear__back">
    <div class="fireworks fireworks-left">
      <img src="/assets/fireworks.png" alt="flash-image">
    </div>
    <div class="fireworks fireworks-center">
      <img src="/assets/fireworks.png" alt="flash-image">
    </div>
    <div class="fireworks fireworks-right">
      <img src="/assets/fireworks.png" alt="flash-image">
    </div>
    <div class="fireworks fireworks-under-right">
      <img src="/assets/red-fireworks.png" alt="flash-image">
    </div>
    <div class="fireworks fireworks-under-left">
      <img src="/assets/red-fireworks.png" alt="flash-image">
    </div>
    <div class="levelup__char">
      <img src="/assets/character/brave.png" alt="flash-image">
      <img src="/assets/character/witch.png" alt="flash-image">
      <img src="/assets/character/priest.png" alt="flash-image">
      <img src="/assets/character/princess.png" alt="flash-image">
    </div>
    <p class="clear__text message"><%= flash[:clear] %></p>
    <p class="levelup__text">LEVELUP!</p>
  </div>
<% end %>