<% if flash[:level_up] %>
  <div class="levelup__back">
    <div class="levelup__char">
      <img src="/assets/character/brave.png" alt="flash-image">
      <img src="/assets/character/witch.png" alt="flash-image">
      <img src="/assets/character/priest.png" alt="flash-image">
      <img src="/assets/character/princess.png" alt="flash-image">
    </div>
    <p class="levelup__text"><%= flash[:level_up] %></p>
  </div>
<% end %>

<div class="battle__back">
  <div class="battle__stage"></div>
</div>