<% if obj.errors.any? %>
  <div class="error__message">
    <h3><%= pluralize(obj.errors.count,"つの") %>エラーがあります</h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li class="error__message--list"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>